 /*Configuracion inicial de la página*/
/*Resetendo el layout */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Handlee', cursive;
  font-size: 16pt;
}
/*
font-family: 'Handlee', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Montserrat', sans-serif;
*/

.bg-yellow{
  background-color: #FFCC00 !important ;
}


/*
.flex{
  display: flex;
  justify-content: center;

}

.flex-img{
  display: flex;
  justify-content: center;

}



.padding{
  padding: 1vh;
}

.size-nav{
  font-size:2rem;
}
.bg-black{
  background-color: black;
}

.text-white{
  color: white !important;
}
a.text-white:hover{
  color: #17A589  !important;
  text-decoration: underline !important;
}
.brand-text{
  font-family: 'Gamja Flower', cursive;
  font-size: 4rem;
}

.cardo-text{
  font-family: 'Cardo', serif;
  font-size: 5rem;
}

.text-section{
  font-size: 2rem;
}

.padding-section{
  padding-top:15vh;
 
}

.bottom{
  padding-bottom:10vh;
 
}



 .btn-marine {
 color: #17A589 !important ;
   margin: 2vh;
   padding: 2vh;
 }

 .text-modal{
font-size: 1.5rem;
 }


 footer{
  background-color: #17A589 !important ;
  
 }
 */

/**************carrusel**************/
 .container--head {
  background: #BF3E11;
}

.tooltip-carousel {
  position: absolute;
  z-index: 11;
  border-radius: 50%;
}

.caraousel-tooltip-item {
  display: none;
}

.caraousel-tooltip-item.active {
  display: block;
}


@media screen and (min-width: 768px) {

}
