<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ada</title>
  <!-- Hojas de estilo para iconos -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous">
  <!-- Fuentes externas -->
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Parisienne" rel="stylesheet">
  <link rel="shortcut icon" href="../assets/images/flower3.png" type="image/x-icon">
  <!-- Hojas de estilo de Bootstrap  -->
  <link type="text/css" rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css" />
  <!-- Hojas de estilo personalizadas este proyecto  -->
  <link href="../css/main.css" rel="stylesheet">
</head>

<body>
  <header class="container-fluid">
    <div class="row">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid fondo-grey border-none">
          <!-- Logo y menú desplegable para menú hamburguesa-->
          <div class="navbar-header fondo-grey border-none">
            <button type="button" class="navbar-toggle collapsed pull-left fondo-grey border-none" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
              aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <img src="../assets/images/flower3.png" alt="Imagen de usuario" class="logo-ada">

            </button>

          </div>
          <!-- Lista de links -->
          <div class="collapse navbar-collapse text-center" id="bs-example-navbar-collapse-1">
            <div class="flex">
              <ul class="nav navbar-nav  size-nav   ">
                <li>
                  <a href="../index.html" class="text-red">Who I am </a>
                </li>
                <li>
                  <a href="skills.html" class="text-red">Skills</a>
                </li>
                <li>
                  <a href="portfolio.html" class="text-red">Portfolio</a>
                </li>
                <li>
                  <a href="contact.html" class="text-red">Contact</a>
                </li>
                <li>
                  <a href="https://github.com/adayc" target="_blank" class="text-red">Work</a>
                </li>
              </ul>
            </div>
          </div>
          <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
      </nav>
    </div>
  </header>
  <main class="text-red bg-petalos ">
    <div class="container-fluid  padding-top" id="profile">

      <div class="row ">

        <div class=" col-xs-12  col-sm-offset-1 col-sm-5  text-justify   text-gray text-section padding-section borde">
            <h2 class="text-center text-paris text-red name">Tech Tools</h2>
            <img class="img-skill grow " src="../assets/images/bootstrap.png" alt="Logo de aplicación">
            <img class="img-skill grow-big" src="../assets/images/css3.png" alt="Logo de aplicación">
            <img class="img-skill grow-big" src="../assets/images/figma.png" alt="Logo de aplicación">
            <img class="img-skill grow-big" src="../assets/images/github.png" alt="Logo de aplicación">
            <img class="img-skill grow-big" src="../assets/images/html5.png" alt="Logo de aplicación">
            <img class="img-skill grow-big" src="../assets/images/javascript.png" alt="Logo de aplicación">
            <img class="img-skill grow" src="../assets/images/jquery.png" alt="Logo de aplicación">
            <img class="img-skill grow" src="../assets/images/marvel.png" alt="Logo de aplicación">
            <img class="img-skill grow" src="../assets/images/sql.png" alt="Logo de aplicación">
            <img class="img-skill grow-big" src="../assets/images/spss.png" alt="Logo de aplicación">
            <img class="img-skill grow" src="../assets/images/access.png" alt="Logo de aplicación">
        </div>





        <div class=" col-xs-12   col-sm-6  text-justify   text-gray text-section padding-section borde">
            <h2 class="text-center text-paris text-red name">UX Techniques</h2>
            <div class="img-skil col-xs-12 col-sm-3 text-center margin-skill grow"> Problem statements </div>
           <div class="img-skil col-xs-12 col-sm-3 text-center margin-skill grow"> User flow </div>
           <div class="img-skil col-xs-12 col-sm-3 text-center margin-skill grow "> Survey </div>
           <div class="img-skil col-xs-12 col-sm-3 text-center margin-skill grow"> Storytelling </div>
           <div class="img-skil col-xs-12 col-sm-3 text-center margin-skill grow"> User persona </div>
           <div class="img-skil col-xs-12 col-sm-3 text-center margin-skill grow"> Benchmark </div>
           <div class="img-skil col-xs-12 col-sm-3 text-center margin-skill grow"> UX Research </div>
           <div class="img-skil col-xs-12 col-sm-3 text-center margin-skill grow"> Affinity mapping </div>
           <div class="img-skil col-xs-12 col-sm-3 text-center margin-skill grow"> Brainstorming </div>
           <div class="img-skil col-xs-12 col-sm-3 text-center margin-skill grow"> Usability tests </div>
           <div class="img-skil col-xs-12 col-sm-3 text-center margin-skill grow"> Prototyping </div>
           <div class="img-skil col-xs-12 col-sm-3 text-center margin-skill grow"> Wireframing </div>
        </div>

      </div>

    </div>



  </main>

  <!-- Js de Jquery-->
  <script type="text/javascript" src="vendors/js/jquery-3.2.1.min.js"></script>
  <!-- Js de bootstrap-->
  <script type="text/javascript" src="vendors/bootstrap/js/bootstrap.min.js"></script>
  <!-- Js para la página-->
  <script type="text/javascript" src="js/app.js"></script>
</body>

</html>